.todo-dashboard {
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  height: 30vh;
}

// Statistics Bar
.stats-bar {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 24px;
  width: clamp(300px, 60vw,1000px);


  .stat-card {
    padding: 16px;
    flex: 1;
    min-width: 100px;
    text-align: center;


    &:hover {
      transform: translateY(-3px);
    }

    .stat-value {
      font-size: 54px;
      font-weight: 500;
    }

    .stat-label {
      font-size: 14px;
      margin-top: 4px;
    }
  }
}
