.stats-bar {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 24px;
  width: clamp(300px, 80vw,1200px);
  padding: 10px;

  .stat-card {
    padding: 8px;
    flex: 1;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.562);


    &:hover {
      transform: translateY(-3px);
    }

    .stat-value {
      font-size: 54px;
      font-weight: 500;
    }

    .stat-label {
      font-size: 14px;
      margin-top: 4px;
    }
  }

  @media screen and (max-width: 500px) {
    .stat-value {
      font-size: 24px !important;
    }

    .stat-label {
      font-size: 10px;
    }
  }

}


