@if (this.isaddtodoshown) {
<div class="form-container">
  <div class="form-input">
    <input class="todofield" matInput type="text" [(ngModel)]="todoText" placeholder="Add Todo" title="add todo">
    <!-- <input matInput [matDatepicker]="picker" [(ngModel)]="todoendDate" title="Select end date" placeholder="End Date"> -->
     <div id="datepickermodule">
      <input matInput [matDatepicker]="picker" [(ngModel)]="todoendDate" title="Select end date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
    <mat-select [(ngModel)]="todopriority" placeholder="Priority">
      <mat-option value="low">Low</mat-option>
      <mat-option value="med">Medium</mat-option>
      <mat-option value="high">High</mat-option>
    </mat-select>
    <button mat-flat-button (click)="addtodo()" id="sbmtbtn" title="Add todo"><mat-icon>add</mat-icon></button>
  </div>
</div>
}
